0920/Gamil_Agent.json
{
  "name": "Gamil_Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -80
      ],
      "id": "9d5421f7-cd15-4423-ac51-2cfea749867c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y5gL8N0aMdLNzaNL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "159274c5-3c92-49d9-b027-bab611ff040d",
              "name": "emailBoddy",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "209afeb2-0423-4dc0-b500-58560b8bcec9",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        -80
      ],
      "id": "2fc322fb-eefb-4803-b3f1-25161d79c08e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true; otherwise, mark it as false.\n\nCustomer Support Topics Include:\n\nQuestions about order status, tracking, or changes\n\nIssues with damaged or defective products\n\nRefund or return requests\n\nSubscription cancellations or adjustments\n\nTechnical issues with products, website, or app\n\nPayment or billing inquiries\n\nRequests for speaking with a support representative\n\nOutput:\nProvide the result in JSON format with a field named \"customerSupport\" set to true or false.",
              "role": "model"
            },
            {
              "content": "=Here is the incoming email:{{ $json.emailBoddy }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        -80
      ],
      "id": "8852c8fd-2691-4b3e-9a6b-a5b22b41c813",
      "name": "Customer Support Eval",
      "credentials": {
        "googlePalmApi": {
          "id": "1mg0VdxzT5vcAz6g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.content.parts[0].text).customerSupport }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "48aa5885-17aa-4e64-b842-69b8b3f8a926"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e4cb5ce-f973-4cb2-85b9-5f8fe0bb369f",
                    "leftValue": "={{ JSON.parse($json.content.parts[0].text).customerSupport }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        448,
        -80
      ],
      "id": "651925a0-70bc-41df-8020-445e7bdc7f8e",
      "name": "Customer Support"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.emailBoddy }}",
        "options": {
          "systemMessage": "Excellent, this is exactly the detail I needed. I can now craft a much more effective prompt. The key is to embed the brand identity (\"Elvis inc. athletic\"), the specific task (replying to customer inquiries), and a clear instruction for the n8n workflow's tool usage.\n\nYour Optimized Prompt:\n\nYou are \"Elvis AI\", an expert customer service assistant for Elvis Inc., a leading athletic footwear and apparel brand. Your primary directive is to handle customer service emails.\n\nYour style is:\n* **Tone:** Friendly, professional, and enthusiastic. Reflect the energetic, active spirit of the brand.\n* **Voice:** Concise, helpful, and solution-oriented.\n\n**Task:**\nAnalyze the provided customer service email.\nDraft a complete, courteous, and accurate reply.\nThe draft MUST address all of the customer's questions and concerns.\nMaintain a positive and supportive attitude.\nIf you need to ask for more information, do so clearly.\n\n**Constraints:**\n* You must use the `gmail.draft` tool to save the response.\n* The output should be a JSON object containing the `to`, `subject`, and `body` of the draft email.\n* The `body` of the email must be well-structured and easy to read.\n* NEVER include a signature line. The `n8n` workflow will add the standard Elvis Inc. signature automatically.\n* If the customer's query is outside the scope of customer service (e.g., a marketing inquiry or job application), reply politely and direct them to the appropriate channel.\n\n**Example of the JSON Output:**\n\n```json\n{\n  \"to\": \"customer@email.com\",\n  \"subject\": \"Regarding your recent order at Elvis Inc.\",\n  \"body\": \"Hi [Customer Name],\\n\\nThank you for reaching out to Elvis Inc. We understand you have a question about [summary of their issue].\\n\\n[Your solution or request for more information here]\\n\\nWe are committed to providing you with the best service and look forward to getting this resolved for you. Please let us know if you need any further assistance.\\n\\nBest regards,\\nThe Elvis Inc. Team\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -336
      ],
      "id": "d0bf51e5-2110-423a-9c03-708884f3508e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        -16
      ],
      "id": "332b6aa1-7e9d-4f63-ae17-e0db061baf31",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1mg0VdxzT5vcAz6g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a draft in Gmail",
        "resource": "draft",
        "subject": "={{ $fromAI('Subject', `Generate a professional subject line for replying to this customer support email: \"${$('Edit Fields').item.json.emailBoddy}\"`, 'string') }}",
        "message": "={{ $fromAI('Message', `\nGenerate a customer support email reply for this message: \n\"${$('Edit Fields').item.json.emailBoddy}\"\n\nMake it:\n- Professional and helpful\n- Empathetic to customer concerns  \n- Action-oriented with next steps\n- Appropriately formatted for email\n`, 'string') }}",
        "options": {
          "threadId": ""
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1008,
        -96
      ],
      "id": "0ce6ee6d-d78f-46f3-bd1c-ccc6e5a44f23",
      "name": "Create a draft in Gmail",
      "webhookId": "83b0b059-07c2-4602-b4c0-f70eed5e097d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y5gL8N0aMdLNzaNL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19900517a6cb93bc",
          "threadId": "19900517a6cb93bc",
          "snippet": "Dear Lora I would like to return the shoe because the size does not match. Thank you, Elvis",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5994,
          "historyId": "3620685",
          "internalDate": "1756646956000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Elvis Chen <gawyfish@gmail.com>",
          "Subject": "customer support_returen",
          "To": "\"陳俊智@go.thu\" <elvischen@go.thu.edu.tw>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Customer Support Eval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Eval": {
      "main": [
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9abde97d-4b6b-4a7f-84a5-58ebd6f86055",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9043cb8d809229849263de6850f596830fc4ca027c2ab12e3225ea6314ed780d"
  },
  "id": "Mph3YA4uAAYFiGja",
  "tags": []
}